<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<configSections>
		<section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
	</configSections>
	<connectionStrings>
		<add name="Xrm" connectionString="Server=http://crm/contoso; Domain=CONTOSO; Username=Administrator; Password=pass@word1" />
	</connectionStrings>
	<microsoft.xrm.client>
		<contexts>
			<add name="Xrm" type="Xrm.XrmServiceContext, WebAppWalkthrough" />
		</contexts>
	</microsoft.xrm.client>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<pages>
			<controls>
				<add tagPrefix="crm" namespace="Microsoft.Xrm.Portal.Web.UI.WebControls" assembly="Microsoft.Xrm.Portal" />
			</controls>
		</pages>
	</system.web>
</configuration>